export GITHUB_APP_CLIENT_ID="Iv23li99EsjuVa8HCsYA"
export GITHUB_APP_PRIVATE_KEY_PATH="/home/airon/Documentos/Github APP/pr-forge.2026-08-17.private-key.pem"
export GITHUB_APP_INSTALLATION_ID="154463506"
export GITHUB_REPOSITORY="aironherbert/lab"